.bodyindex{
    background-color:rgb(211, 211, 211);
}
.fazul{
    background-color: rgb(109, 109, 247);
}
.fverde{
    background-color: rgb(177, 238, 117);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #a4e6a4;
}
.loginad{
    margin-left: 180px;
    margin-top: 50px;
    background-color: rgb(177, 238, 117);
    width: 300px;
    height: 240px;    
}
.tcentrado{
    margin-left: 50px;
}
.titulo{
    margin-left: 30px;
}
.centrado{
    margin-left: 100px;
}

#wrapper {
    width: 500px;
    display: flex;
}
.window-notice {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}
.window-notice .content {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}
.remroll{
    font-size: 50px;
}
body{
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}